#products-container {
  max-width: 1200px;
  margin: 5rem auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

@media (min-width: 600px) {
  #products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  #products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}